{{(page-title "PageNotFound")}}
    <CommonImage @src="https://static-00.iconduck.com/assets.00/404-page-not-found-illustration-2048x998-yjzeuy4v.png"></CommonImage>
<div class="main-form">
    <GoToHome></GoToHome>
</div>
{{outlet}}